body {
  background-image: url("./images/adeolu-eletu-E7RLgUjjazc-unsplash.jpg");
}

.display-4 {
  text-align: center;
}

.footer {
  background-color: #e9ecef;
  color: black;
  text-align: center;
}

img {
  width: 86%;
}

.container {
  margin-bottom: 10px;
}
